.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--card-bg-color);
  box-shadow: 0px 4px 4px rgba(141, 141, 141, 0.25);
  max-width: 250px;
}

.projects-contianer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  overflow: scroll;
  padding: 2rem 0.5rem;
}

.description {
  font-size: small;
  color: var(--dark-content);
}

.projects-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-color: var(--background-color);
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 4; */
  padding: 2rem;
}

@media screen and (max-width: 1024px) {
  .projects-contianer {
    grid-template-columns: 1fr 1fr;
    overflow: scroll;
    padding: 2rem 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .projects-contianer {
    grid-template-columns: 1fr;
    overflow: scroll;
    padding: 2rem 0.5rem;
  }
}
